@using Epam.XT.SchoolTestingSystem.Dependencies;
@using Epam.XT.SchoolTestingSystem.Common.Entities;
@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    var _testBLL = DependencyResolver.Instance.testBLL;
    var _userBLL = DependencyResolver.Instance.userBLL;
    string Description = Request.QueryString["Description"];
    bool isTestExist = true;
    Test test = null;
    Timer timer = null;
    if ((isTestExist = _testBLL.isTestAlreadyExist(Description)))
    {
        test = _testBLL.GetTestByDescription(Description);
        timer = new Timer();
        timer.Interval = test.TimeToPass;
    }

}
@if (IsPost)
{
    Guid userId = _userBLL.GetUserByLogin(User.Identity.Name).Id;
    int rightAnswerCounter = 0;
    for (int i = 0; i < test.NumberOfQuestions; i++)
    {
        if (test.QuestionArray[i].NumberOfRightAnswer == int.Parse(Request[String.Format("exampleRadios{0}", i + 1)]))
        {
            rightAnswerCounter++;
        }
    }
    _testBLL.BindingTestToUser(userId, test.Id, rightAnswerCounter, test.NumberOfQuestions);
    Response.Redirect(string.Format("~/Pages/Tests/TestResult.cshtml?Id1={0}&Id2={1}", userId, test.Id));


}
@if (isTestExist)
{
    <form method="post" name="executionForm">
        @for (int i = 0; i < test.NumberOfQuestions; i++)
        {
            <div class="form-group">
                <div>
                    <label name="questionDescription@(i + 1)" id="QuestionDescription">@test.QuestionArray[0].Description</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios@(i + 1)" id="Radios@(i + 1)1" value="1" />
                    <label class="form-check-label" for="Radios@(i + 1)1">@test.QuestionArray[i].Answers[0]</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios@(i + 1)" id="Radios@(i + 1)2" value="2">
                    <label class="form-check-label" for="Radios@(i + 1)2">@test.QuestionArray[i].Answers[1]</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios@(i + 1)" id="Radios@(i + 1)3" value="3">
                    <label class="form-check-label" for="Radios@(i + 1)3">@test.QuestionArray[i].Answers[2]</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios@(i + 1)" id="Radios@(i + 1)4" value="4">
                    <label class="form-check-label" for="Radios@(i + 1)4">@test.QuestionArray[i].Answers[3]</label>
                </div>
                <input checked hidden class="form-check-input" type="radio" name="exampleRadios@(i + 1)" id="Radios@(i + 1)4" value="5">

            </div>
        }
        <div>
            <label id="timer">@timer.Interval</label>
        </div>
        <button type="submit" class="btn btn-primary">Проверить результат</button>
    </form>
<script src="~/Scripts/timerForTestExecution.js"></script>
}
else
{
    @RenderPage("~/Pages/Partial/_Error.cshtml", new { info= string.Format("Тест с описанием {0} не существует",Description)});
}
